html {
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
  background-color: #f2f2f2;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

p {
  margin-top: 0;
}

h3 {
  font-size: .875rem;
  font-style: italic;
  font-weight: normal;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

.image {
  width: 100px;
  margin: 0 auto 1.5rem;
}

.btn {
  display: inline-block;
  text-decoration: none;
  padding: .4em .75em .3em;
  list-style-type: none;
  text-align: center;
  border-width: 3px;
  border-style: solid;
  border-color: #333;
  border-radius: 8px;
  background-color: #333;
  color: #fff;
  font-size: 1.125rem;
}

.btn:hover {
  background-color: #000;
  border-color: #000;
}

.btn-small {
  font-size: .875rem;
}

div {
  display: inline-block;
  float: left;
  width: 25%;
  padding: 1.5rem;
  border-left: 1px solid black;
  min-height: 27em;

}

.first {
  background-color: #e2e2e2;
}

.second {
  background-color: #ccc;
}

.third {
  background-color: #aaa;
}

.fourth {
  background-color: #999;
}
