html {
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
  font-size: .875rem;
  background-color: #f2f2f2;
  color: #333;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  display: block;
  font-size: 2rem;
  text-align: center;
}
